<section class="py-2">
    <div class="row">
        <div class="col-md-6 text-center">
            <h1 class="display-3 mt-3 pt-5">
                The history of a typewriter
            </h1>
            <p>Learn about the story of this noble machine</p>
            <form action="/charge" method="POST">
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_S8JMIeDDS1duE0lXA9la3Zxz009MqBygqc" data-amount="2500"
                    data-name="The history of a typewriter" data-description="Ebook written by Stefanos Leventis"
                    data-image="img/marketplace.png" data-locale="auto">
                    </script>
                <script>
                    //Hide default stripe button
                    document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
                </script>
                <button type="sumbit" class="btn btn-outline-dark text-white btn-lg">Purchase for $25</button>
            </form>
        </div>
        <div class="col-md-6 text-center">
            <img src="/img/book.png" alt="" class="img-fluid">
        </div>
    </div>
</section>