<form action="/weather" method="POST">
  <label for="cityName">Please enter a City name</label>
  <input type="text" name="cityName" />
  <input type="submit" value="Submit selected City" />
</form>

