<form action="/weather" method="POST">
  <label for="cityName">Enter a City name</label>
  <input type="text" name="cityName" required autofocus value="{{cityName}}"/>
  <input type="submit" value="Get Temperature" />
</form>
<p>{{weatherText}}</p>

